<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzpFq9oioGQv4OCSt9fB7bbXveKMQhsEE</string>
	<key>GCM_SENDER_ID</key>
	<string>1003040045633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todosApp</string>
	<key>PROJECT_ID</key>
	<string>stores-app-714ab</string>
	<key>STORAGE_BUCKET</key>
	<string>stores-app-714ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003040045633:ios:8e8fe71dadbe5a5c14a4c0</string>
</dict>
</plist>